.dark {
  background-color: #222;
  color: #e6e6e6;
}

.dark {
  mark {
    color: #222;
    background-color: #e6e6e6;
  }

  a {
    color: #477dca;
  }

  /* section 标题的细实线，亮色是 #ddd，暗底下换成看得见的灰 */
  //h3 {
  //  border-bottom-color: #444;
  //}
}
